h1{
    
    color: red;
    
}

.constactus{
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

.constactus1{
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

.constactus2{
    display: block;
    padding: 10px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.constactus3{
    display: block;
    width: 400px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
